*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset material icons */
.material-icons{
    font-size: 1rem;
    font-weight: bold;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 100%;
}
a:not(.logo){
    text-decoration: none;
    color: white;
    margin: 0 0.5rem 0 0;
}
/* ------------------------------- HEADER ------------------------------ */
header{
    width: 100%;
    z-index: 1;
    padding: 0.8rem 0;
    background-color: #ff6900;
    box-shadow: 0 2px 4px 1px #0003;
}
header nav{
    flex-basis: 20%;
}
header a.logo{
    flex-basis: 60%;
    height: 1.5rem;
    text-align: center;
}

/* ------------------------------- MAIN ------------------------------ */
main{
    padding:3.1rem 0 2.5rem;/*header height = .logo height + header padding * 2 */
}

section.articles-row{
    text-align: center;
    padding: 2.5rem 0 0;
}
article.articles-product{
    display: inline-block;
    /* width per contenere footer ma si deve gestire in base all'img */
    width: 20.5rem;
}
/* prod img */
section.product-img{
    background-size: cover;
    width: 100%;
    height: 28.7rem;
}
/* favourite thing */
label.favourite::after{/*collegato al input tramite il for="input id"*/
    font-family: 'Material Icons';
    content: "favorite_outline";

    position: absolute;
    top: 0.5rem;
    right: 0rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    background-color: white;
    cursor: pointer;
}
input[type="checkbox"]:checked + label.favourite:hover::after{/*quando input è "checked" seleziona la fine del primo label posizionato subito dopo quando c'è il mouse sopra (scusate il trip mentale, ne vale la pena)*/
    color:#ff0000;
}
input[type="checkbox"] { /*nascondo il checkbox*/
    display: none;
}
input[type="checkbox"]:checked + label.favourite::after {/*quando input è "checked" seleziona la fine del primo label posizionato subito dopo*/
    /* content: '\2665'; */
    content: "favorite";
}

/* prod info */
.product-info{
    color: white;
    bottom:2rem;
}
.discount::before{
    background-color: #ff0000;
    margin-right:0.15rem;
    padding: 0.3rem 0.5rem
}
.discount-30::before{
    content: '-30%';
}
.discount-50::before{
    content: '-50%';
}
.eco::after{
    content: 'Sostenibilità';
    background-color: #008000;
    padding: 0.3rem 0.5rem;
}

/* prod description */
footer.product-desc{
    text-align: start;
    padding: 0.2rem 0;
}

.desc{
    font-size:0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
.price,
.brand-name{
    font-size: 0.75rem;
}
.price::after{
    content: ' €';
}
.start-price{
    text-decoration: line-through;
}
.real-price{
    color:#ff0000;
    font-weight: bold;
}

/* ------------------------------- FOOTER ------------------------------ */
footer:not(main footer){
    background-color: #1a1a1a;
    color:white;
    padding: 1rem 0;
}
.credits-info,
.socials-container{
    margin-top: 0.5rem;
    font-size: 0.6rem;
}

section.socials nav a{
    display: inline-block;
    background-color: white;
    border-radius: 2px;
    margin-right: 0.3rem;
    width: 1rem;
    height: 1rem;
}
section.socials nav a:not(.invert) img{
    filter: brightness(0) contrast(1);
    -webkit-filter: brightness(0) contrast(1);
}
section.socials nav a.invert{
    background-color: black;
}
section.socials nav a#ln img{
    filter: invert(1);
}
section.socials nav a#face{
    background-color: black;
}



/* ------------------------------- CLASSES ------------------------------ */
.container{
    width: 70%;
    margin: 0 auto;
}
.p-absolute{
    position: absolute;
}
.p-relative{
    position: relative;
}
.p-fixed{
    position: fixed;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-a-end{
    text-align: end;
}
.text-a-end a{
    margin: 0 0 0 0.5rem;
}
/* under 1rem */
.small7-bold{
    font-size: 0.7rem;
    font-weight: bold;
}


/* ----------------------------------- IDS ---------------------------- */
#levis-t-shirt{
    background-image: url('../img/1.webp');
}
article.articles-product:hover #levis-t-shirt{
    background-image: url('../img/1b.webp');
}

#guess-t-shirt{
    background-image: url('../img/2.webp');
}
article.articles-product:hover #guess-t-shirt{
    background-image: url('../img/2b.webp');
}

#czf-tailleur{
    background-image: url('../img/3.webp');
}
article.articles-product:hover #czf-tailleur{
    background-image: url('../img/3b.webp');
}

#levis-t-shirt-unisx{
    background-image: url('../img/4.webp');
}
article.articles-product:hover #levis-t-shirt-unisx{
    background-image: url('../img/4b.webp');
}

#mayadlx-dress{
    background-image: url('../img/5.webp');
}
article.articles-product:hover #mayadlx-dress{
    background-image: url('../img/5b.webp');
}

#esprit-sweater{
    background-image: url('../img/6.webp');
}
article.articles-product:hover #esprit-sweater{
    background-image: url('../img/6b.webp');
}