*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------- HEADER ------------------------------ */
header{
    width: 100%;
    z-index: 1;
    padding: 1rem 0;
    background-color: red;
}
header section > *{
    background-color: green;
    height: 2rem;
}
header nav{
    flex-basis: 20%;
}
header a.logo{
    flex-basis: 60%;
}

/* ------------------------------- MAIN ------------------------------ */
main{
    padding-top:4rem;
}

section.articles-row{
    background-color: aqua;
    text-align: center;
    padding: 2rem 0;
}
article.articles-product{
    display: inline-block;
    background-color: #00a900;
    /* width per contenere footer ma si deve gestire in base all'img */
    width: 20rem;
}
/* prod img */
section.product-img{
    background-color: blue;
    width: 100%;
    height: 25rem;
}
/* favourite thing */
label.favourite::after{/*collegato al input tramite il for="input id"*/
    content: '\2661';
    position: absolute;
    top: 0.5rem;
    right: 0rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.5rem;
    background-color: aquamarine;
}
input#btnFav:checked + label.favourite:hover::after{/*quando input è "checked" seleziona la fine del primo label posizionato subito dopo quando c'è il mouse sopra (scusate il trip mentale, ne vale la pena)*/
    color:red;
}
input#btnFav { /*nascondo il checkbox*/
    display: none;
}
input#btnFav:checked + label.favourite::after {/*quando input è "checked" seleziona la fine del primo label posizionato subito dopo*/
    content: '\2665';
}

/* prod info */
.product-info{
    background-color: beige;
    color: white;
    bottom:2rem;
}
.discount-30::before{
    content: '-30%';
    background-color: red;
    margin-right:0.3rem;
    padding: 0.3rem 0.8rem;
}
.eco::after{
    content: 'Eco';
    background-color: #00a900;
    padding: 0.3rem 0.8rem;
}

/* prod description */
main footer{
    background-color: blueviolet;
}
footer.product-desc{
    text-align: start;
    padding: 0.8rem;
    height: fit-content;
}
div.name{
    font-weight: bold;
    font-size: 1.3rem;
}

.brand-name{
    font-size: 0.8rem;
}
.desc{
    font-size:1.2rem;
}
.start-price{
    text-decoration: line-through;
}

/* ------------------------------- FOOTER ------------------------------ */
footer{
    background-color: black;
    color:white;
    padding: 1.5rem 0;
}

section.credits,
section.socials{
    flex-basis: 30%;
    height: 3rem;
    background-color: brown;
}

/* ------------------------------- CLASSES ------------------------------ */
.container{
    width: 70%;
    margin: 0 auto;
}
.p-absolute{
    position: absolute;
}
.p-relative{
    position: relative;
}
.p-fixed{
    position: fixed;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-a-end{
    text-align: end;
}

/* da canmcellare */
    /* crazy border */
header > section *,
footer > section > section{
    border: 2px dashed black;
}

footer > section > section > *{
    height: 50%;
    border: 2px dashed white;
}
nav a{
    display: inline-block;
    height: 1rem;
    width: 3rem;
    background-color: aqua;
    border: 1px solid black;
    margin-right: 0.5rem;
}